<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://107.151.154.53/download/QMYL.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://107.151.154.53/images/image.57x57.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>http://107.151.154.53/images/image.512x512.png/string>
</dict>
